html, body {
    margin: 0;
}
body {
    padding: 20px;
}
body, button {
    font-family: 'PT Sans', sans-serif;
}
textarea {
    background-color: #eee;
    font-family: 'Source Code Pro', courier;
    font-size: 18px;
    width: 100%;
    border: 1px solid black;
}
button {
    font-size: 14px;
    margin-left: 10px;
}
.buttons {
    text-align: center;
}
.canvas {
    position: relative;
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
    margin: 30px;
}
.robot1 {
    width: 10px;
    height: 10px;
    background-color: red;
    top: 25px;
}
.robot2 {
    width: 10px;
    height: 10px;
    background-color: blue;
    top: 25px;
}
.parachute1 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: red;
    top: 13px;
}
.parachute2 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: blue;
    top: 13px;
}
.panel {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}
.editor {
    width: 49.99%;
    float: left;
    padding: 20px;
}
.program {
    width: 49.99%;
    float: left;
    padding: 20px;
}
.program table {
    width: 100%;
}
.program th {
    text-align: left;
}
.program td, .program th {
    border: 1px solid black;
}
*, *:before, *:after {
    box-sizing: border-box;
}

